@{
    ViewData["Title"] = "Home Page";
}
<style>
    div.dt-paging {
        display: flex;
        justify-content: center;
    }

    div.bottom {
        margin-top: 16px;
    }

    div.top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table id="ordersTable" class="display table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>訂單編號</th>
                <th>客戶名稱</th>
                <th>訂單日期</th>
                <th>運費</th>
                <th>訂單總金額</th>
                <th>功能</th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">
    function openEditModal(orderId) {
        if (confirm('Are you sure you want to Edit order: ' + orderId + '?')) {
            // 在这里你可以处理删除逻辑
            alert('Order deleted: ' + orderId);
        }
        // $('#editOrderModal').modal('show'); // Bootstrap 方式显示 Modal
    }

    function openDeleteModal(orderId) {
        if (confirm('Are you sure you want to delete order: ' + orderId + '?')) {
            // 在这里你可以处理删除逻辑
            alert('Order deleted: ' + orderId);
        }
    }
    function openAddModal() {
        alert('openAddModal')
    }

    $(document).ready(function () {
        $('h1').text('訂單一覽表');
        $('#ordersTable').DataTable({
            "serverSide": true,
            "ajax": {
                "url": "@Url.Content("~/api/NorthwindApi/orders")",
                "type": "GET",
                "dataSrc": "data",
                "data": function (d) {
                    return {
                        draw: d.draw,
                        PageNumber: Math.floor(d.start / d.length) + 1,
                        PageSize: d.length
                    };
                },
            },
            "paging": true,
            "pageLength": 20,
            "lengthChange": false,
            "info": false,
            "columns": [
                { "data": "orderId", "className": "text-center", "orderable": false },
                { "data": "customerName", "className": "text-center" },
                {
                    "data": "orderDate",
                    "render": function (data, type, row) {
                        return new Date(data).toLocaleDateString();
                    }
                },
                { "data": "freight" },
                { "data": "totalOrderValue" },
                {
                    "data": null,
                    "className": "text-center",
                    "orderable": false,
                    "render": function (data, type, row) {
                        return `
                        <button class="btn btn-primary btn-sm edit-btn" onClick="openEditModal(${row.orderId})">Edit</button>
                        <button class="btn btn-danger btn-sm delete-btn"onClick="openDeleteModal(${row.orderId})">Delete</button>
                `;
                    }
                }
            ],
            "dom": '<"top"f>rt<"bottom"p><"clear">',
            "initComplete": function () {
                var btnHtml = '<button id="addBtn" class="btn btn-success btn-sm" onClick="openAddModal()">新增</button>';
                $('div.top').append(btnHtml);
            }

        });
    });

</script>
