@{
    ViewData["Title"] = "Home Page";
}
<style>
    div.dt-paging {
        display: flex;
        justify-content: center;
    }

    div.bottom {
        margin-top: 16px;
    }

    div.top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">訂單一覽表</h1>
    <table id="ordersTable" class="display table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>訂單編號</th>
                <th>客戶名稱</th>
                <th>訂單日期</th>
                <th>運費</th>
                <th>訂單總金額</th>
                <th>功能</th>
            </tr>
        </thead>
    </table>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">訂單編號:</h5>
                    <h5 id="orderID"></h5>
                </div>
                <div class="modal-body">
                    <form id="orderForm">
                        <div class="mb-3">
                            <label for="modalFreight" class="form-label"><strong>運費:</strong></label>
                            <input type="number" class="form-control" id="modalFreight">
                        </div>
                        <div class="mb-3">
                            <label for="modalFreight" class="form-label"><strong>公司名稱:</strong></label>
                            <input type="text" class="form-control" id="shipName">
                        </div>
                        <div class="mb-3">
                            <label for="modalFreight" class="form-label"><strong>公司地址:</strong></label>
                            <input type="text" class="form-control" id="shipAddress">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeModal()" data-dismiss="modal">close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let orderTable;
    $(document).ready(function () {
        orderTable = $('#ordersTable').DataTable({
            "serverSide": true,
            "ajax": {
                "url": "@Url.Content("~/api/NorthwindApi/orders")",
                "type": "GET",
                "dataSrc": "data",
                "data": function (d) {
                    return {
                        draw: d.draw,
                        PageNumber: Math.floor(d.start / d.length) + 1,
                        PageSize: d.length
                    };
                },
            },
            "paging": true,
            "pageLength": 20,
            "lengthChange": false,
            "info": false,
            "columns": [
                { "data": "orderId", "className": "text-center", "orderable": false },
                { "data": "customerName", "className": "text-center" },
                {
                    "data": "orderDate",
                    "render": function (data, type, row) {
                        return new Date(data).toLocaleDateString();
                    }
                },
                { "data": "freight" },
                { "data": "totalOrderValue" },
                {
                    "data": null,
                    "className": "text-center",
                    "orderable": false,
                    "render": function (data, type, row) {
                        return `
                                            <button id="EditBtn" class="btn btn-primary btn-sm edit-btn" onClick="openEditModal(${row.orderId})">Edit</button>
                                            <button id="deleteBtn" class="btn btn-danger btn-sm delete-btn"onClick="openDeleteModal(${row.orderId})">Delete</button>
                                    `;
                    }
                }
            ],
            "dom": '<"top"f>rt<"bottom"p><"clear">',
            "initComplete": function () {
                var btnHtml = '<button id="addBtn" class="btn btn-success btn-sm" onClick="openAddModal()">新增</button>';
                $('div.top').append(btnHtml);
            },
            "ordering": false,
            "searching": false,
        });
    });
    function openEditModal(orderId) {
        $('#editModal').modal('show');
        $('#orderID').text(orderId);
    }

    function openDeleteModal(orderId) {
        const confirmationMessage = `請問你確定要刪除訂單編號: ${orderId} ,此行為會將訂單細節也一併刪除喔?`;
    }
    function openAddModal() {
        alert('openAddModal')
    }

    function closeModal() {
        $('#editModal').modal('hide');
        orderTable.ajax.reload();
    }

</script>
